body {
  font-family: Helvetica;
  font-size: 13px;
}

#menu {
  float: right;
  text-align: right;
  list-style-type: none;
}
#menu a {
  text-decoration: none;
}
#menu a:hover {
  text-decoration: underline;
}

#left {
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#content {
  float: left; 
}

#content li {
  margin-bottom: 0.7em;
}

.post-dates {
  color: #888;
  margin-top: -0.5em;
}

@media (min-width: 500px) {
#menu {
  margin-top: 30px;
  margin-right: 20px;
  width: 150px;
  font-size: 4rem;
}
#left {
  height: 1px;
  width: 250px;
}
#content {
  margin-top: 15px;
  width: 500px;
}
}

@media (max-width: 500px) {
#menu {
  margin-top: 1px;
  margin-right: 10px;
  font-size: 3rem;
}
#left {
  display: none;
}
#content {
  clear: both;
  margin-top: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
}